{% load static %} <!-- load  static page in html file-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css'%}">
    <title>Document</title>
</head>

<body>
    <h1> TOURIST PLACES</h1>
    <img src="{%static 'images/Majestic Mountains.jpg'%}">
    <img src="{%static 'images/Peaceful Forests.jpg'%}">
    <img src="{%static 'images/Tropical Beaches.jpg'%}">
    <img src="{%static 'images/Vibrant Cites.jpg'%}">

</body>

</html>